.img-phone {
  width: 116%;
  margin-top: -18%;
  margin-left: -8%;
  position: fixed;
}
.site-logo-reg {
  height: 56px;
  margin-top: 7px;
  position: absolute;
  margin-left: 113px;
}
.log-logo-reg {
  position: absolute;
  cursor: default;
  color: black;
  margin-left: 175px;
  margin-top: 29px;
  font-family: "Alfa Slab One", cursive;
}
.block {
  padding: 470px 37px 106px !important;
  background: white !important;
  width: 880px !important;
  border-radius: 20px !important;
  position: absolute;
  margin-left: 15% !important;
  margin-right: auto !important;
  margin-top: 84px !important;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.6);
}
.strelka {
  position: absolute;
  width: 5%;
  margin-top: -49%;
  margin-left: 2%;
  cursor: pointer;
}
.lang-icon {
  background: transparent;
  border: none;
  height: 30px;
  margin-left: 28%;
  margin-top: 23px;
  position: absolute;
  cursor: pointer;
}

.lang-icon-usa {
  background: transparent;
  border: none;
  margin-left: 31%;
  margin-top: 25px;
  position: absolute;
  cursor: pointer;
}
.title {
  position: absolute;
  cursor: default;
  margin-top: 11%;
  width: 27%;
  margin-left: 35%;
  text-align: center;
  font-family: "Bebas Neue", cursive;
}
.window-write {
  width: 291px !important;
  height: 48px !important;
  padding: 6px 20px !important;
  box-sizing: border-box !important;
  border: 3px solid #ccc !important;
  transition: 0.5s !important;
  outline: none !important;
  margin-left: 23% !important;
  position: absolute;
  margin-top: 19%;
  cursor: pointer;
}

.window-write:focus {
  border: 3px solid #555 !important;
}
.window-writes {
  width: 291px !important;
  height: 48px !important;
  padding: 6px 20px !important;
  box-sizing: border-box !important;
  border: 3px solid #ccc !important;
  transition: 0.5s !important;
  outline: none !important;
  margin-left: 52% !important;
  position: absolute;
  margin-top: 19%;
  cursor: pointer;
}
.window-writes:focus {
  border: 3px solid #555 !important;
}
.window-writet {
  width: 291px !important;
  height: 48px !important;
  padding: 6px 20px !important;
  box-sizing: border-box !important;
  border: 3px solid #ccc !important;
  transition: 0.5s !important;
  outline: none !important;
  margin-left: 23% !important;
  position: absolute;
  margin-top: 25%;
  cursor: pointer;
}
.window-writet:focus {
  border: 3px solid #555 !important;
}
.window-writef {
  width: 291px !important;
  height: 48px !important;
  padding: 6px 20px !important;
  box-sizing: border-box !important;
  border: 3px solid #ccc !important;
  transition: 0.5s !important;
  outline: none !important;
  margin-left: 52% !important;
  position: absolute;
  margin-top: 25%;
  cursor: pointer;
}
.window-writef:focus {
  border: 3px solid #555 !important;
}
.window-writefv {
  width: 291px !important;
  height: 48px !important;
  padding: 6px 20px !important;
  box-sizing: border-box !important;
  border: 3px solid #ccc !important;
  transition: 0.5s !important;
  outline: none !important;
  margin-left: 23% !important;
  position: absolute;
  margin-top: 31%;
  cursor: pointer;
}
.window-writefv:focus {
  border: 3px solid #555 !important;
}
.window-writesi {
  width: 291px !important;
  height: 48px !important;
  padding: 6px 20px !important;
  box-sizing: border-box !important;
  border: 3px solid #ccc !important;
  transition: 0.5s !important;
  outline: none !important;
  margin-left: 52% !important;
  position: absolute;
  margin-top: 25%;
  cursor: pointer;
}
.window-writesi:focus {
  border: 3px solid #555 !important;
}
.window-writesev {
  width: 291px !important;
  height: 48px !important;
  padding: 6px 20px !important;
  box-sizing: border-box !important;
  border: 3px solid #ccc !important;
  transition: 0.5s !important;
  outline: none !important;
  margin-left: 23% !important;
  position: absolute;
  margin-top: 37%;
  cursor: pointer;
}
.window-writesev:focus {
  border: 3px solid #555 !important;
}
.window-writeeight {
  width: 291px !important;
  height: 48px !important;
  padding: 6px 20px !important;
  box-sizing: border-box !important;
  border: 3px solid #ccc !important;
  transition: 0.5s !important;
  outline: none !important;
  margin-left: 52% !important;
  position: absolute;
  margin-top: 31%;
  cursor: pointer;
}
.window-writeeight:focus {
  border: 3px solid #555 !important;
}
.button-rent {
  position: absolute;
  margin-top: 39%;
  margin-left: 35%;
  width: 27%;
}
