<style>
  @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
</style>
<div>
  <img class="img-phone" src="assets/images/bmwphone.jpg">
  <img class="site-logo-reg" src="assets/images/logo.png">
</div>
<div>
  <a class="log-logo-reg">SMOTRA</a>
</div>
<div class="block">
  <img src="assets/images/free-icon-left-arrow-5166419.png" class="strelka"
       routerLink="/" routerLinkActive="active"
       pTooltip="{{'ADD.BACK' | translate}}"
       tooltipPosition="bottom">
  <a class="register-text-add">{{'LOGIN.SIGN'| translate}}</a>
  <form [formGroup]="detailsForm" (ngSubmit)="onSubmit()">
    <div class="form-dts">
      <input type="text" pInputText class="window-write" formControlName="login"
             placeholder="{{'LOGIN.LOGIN'|translate}}"
             [ngClass]="{ 'is-invalid': submitted && f['login'].errors }"/>
      <div *ngIf="submitted && f['login'].errors" class="invalid-feedback red-error">
        <div *ngIf="f['login'].errors['required']">*</div>
      </div>
      <label class="form-label"></label>
      <input type="password" formControlName="password"
             class="p-inputtext p-component p-element p-password-input window-pass"
             placeholder="{{'LOGIN.PASSWORD'|translate}}"
             [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"/>
      <div *ngIf="submitted && f['password'].errors" class="invalid-feedback red-error-pass">
        <div *ngIf="f['password'].errors['required']">*</div>
      </div>
      <button pButton pRipple (click)="save()" label="{{'LOGIN.SIGN'| translate}}"
              class="p-button-success button-rent"></button>
    </div>
  </form>
</div>
  <div>
  <p-button *ngIf="carid == null" class="registration-button button-reg-widht" label="{{'HOME.REGISTR'| translate}}"
            routerLink="/registation"
            routerLinkActive="active"></p-button>
  </div>
<div>
  <button class="lang-icon" (click)="useLanguage('ru')" pTooltip="{{'ADMIN.RUSSIA' | translate}}"
          tooltipPosition="bottom"><img src="assets/images/russia.png" alt="ruflag" height="28px">
  </button>
  <button class="lang-icon-usa" (click)="useLanguage('en')" pTooltip="{{'ADMIN.ENGLISH' | translate}}"
          tooltipPosition="bottom"><img src="assets/images/usa.png" alt="ruflag" height="25px">
  </button>
</div>

