.img-phone {
  width: 116%;
  margin-top: -18%;
  margin-left: -8%;
  position: fixed;
}
.site-logo-reg {
  height: 56px;
  margin-top: 7px;
  position: absolute;
  margin-left: 113px;
}
.log-logo-reg {
  position: absolute;
  cursor: default;
  color: black;
  margin-left: 175px;
  margin-top: 29px;
  font-family: "Alfa Slab One", cursive;
}
.block {
  padding: 480px 33px 41px !important;
  background: white !important;
  width: 548px !important;
  border-radius: 20px !important;
  position: absolute;
  margin-left: 28% !important;
  margin-right: auto !important;
  margin-top: 89px !important;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.6);
}
.lang-icon {
  background: transparent;
  border: none;
  height: 30px;
  margin-left: 28%;
  margin-top: 23px;
  position: absolute;
  cursor: pointer;
}
.lang-icon-usa {
  background: transparent;
  border: none;
  margin-left: 31%;
  margin-top: 25px;
  position: absolute;
  cursor: pointer;
}
.register-text-add {
  margin-top: -75%;
  width: 96%;
  text-align: center;
  margin-left: -4%;
  position: absolute;
  font-size: 40px;
  text-shadow: 0 0 black;
  font-family: "Bebas Neue", cursive;
  cursor: default;
}
.form-dts {
  margin-top: -40% !important;
  margin-left: 45% !important;
}
.window-write {
  cursor: pointer;
  margin-left: -31%;
  position: absolute;
  width: 70%;
  margin-top: -26%;
}
.window-pass {
  cursor: pointer;
  width: 70%;
  position: absolute;
  margin-top: -8%;
  margin-left: -31%;
}

.button-rent {
  position: absolute;
  margin-top: 12%;
  margin-left: -9%;
  width: 27%;
}
.red-error {
  position: absolute;
  margin-left: 42%;
  margin-top: -16%;
  color: red;
}
.red-error-pass {
  position: absolute;
  margin-left: 42%;
  margin-top: 3%;
  color: red;
}
.strelka {
  position: absolute;
  width: 6%;
  margin-top: -80%;
  margin-left: 2%;
  cursor: pointer;
}
.registration-button {
  position: absolute;
  margin-left: 546px;
  margin-top: 40%;
}
.button-reg-widht ::ng-deep .p-button {
  color: #ffffff;
  width: 140%;
  background: #3B82F6;
  border: 1px solid #3B82F6;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 6px;
}
