<style>
  @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
</style>
<div>
  <img class="img-phone" src="assets/images/bmwphone.jpg">
  <img class="site-logo-reg" src="assets/images/logo.png">
</div>
<div>
  <a class="log-logo-reg">SMOTRA</a>
</div>
<div>
  <button class="lang-icon" (click)="useLanguage('ru')" pTooltip="{{'ADMIN.RUSSIA' | translate}}"
          tooltipPosition="bottom"><img src="assets/images/russia.png" alt="ruflag" height="28px">
  </button>
  <button class="lang-icon-usa" (click)="useLanguage('en')" pTooltip="{{'ADMIN.ENGLISH' | translate}}"
          tooltipPosition="bottom"><img src="assets/images/usa.png" alt="ruflag" height="25px">
  </button>
</div>
<div class="block">
  <img src="assets/images/free-icon-left-arrow-5166419.png" class="strelka" routerLink="/admin"
       routerLinkActive="active"
       pTooltip="{{'ADMIN.BACK' | translate}}"
       tooltipPosition="bottom">
</div>
<div>
  <h1 class="title">{{'ADMIN.TITLE'|translate}}</h1>
  <p class="title-sec">{{'ADMIN.TITLESEC'|translate}}</p>
  <form [formGroup]="Form" (ngSubmit)="submit()">
    <input type="text" pInputText class="window-write" formControlName="login"
           placeholder="{{'LOGIN.LOGIN'|translate}}" class="input-login" required
           [ngClass]="{ 'is-invalid': submitted && f['login'].errors }"/>
    <div *ngIf="submitted && f['login'].errors" class="invalid-feedback red-error-log">
      <div *ngIf="f['login'].errors['required']">*</div>
    </div>
    <input type="text" pInputText class="window-write" formControlName="password"
           placeholder="{{'LOGIN.PASSWORD'|translate}}" class="input-password" required
           [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"/>
    <div *ngIf="submitted && f['password'].errors" class="invalid-feedback red-error-pas">
      <div *ngIf="f['password'].errors['required']">*</div>
    </div>
    <button type="submit"  pButton pRipple label="{{'ADMIN.CREATE'| translate}}"
            class="p-button-success button-rent"></button>
  </form>
</div>
