<style>
  @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
</style>
<div>
  <img class="img-phone" src="assets/images/bmwphone.jpg">
  <img class="site-logo-reg" src="assets/images/logo.png">
</div>
<div>
  <a class="log-logo-reg">SMOTRA</a>
</div>
<div class="block">
  <a class="register-text-add">{{car.name}} ({{car.model}})</a>
  <br>
  <div class="black-block">
    <img src="assets/images/free-icon-left-arrow-5166419.png" class="strelka" routerLink="/"  routerLinkActive="active"
         pTooltip="{{'ADD.BACK' | translate}}"
         tooltipPosition="bottom">
    <img src="assets/images/calendar.svg" class="icon-calendar">
    <img src="assets/images/kpp.svg" class="icon-kpp">
    <img src="assets/images/dvigatelya.svg" class="icon-dvigatel">
    <img src="assets/images/mest.svg" class="icon-mest">
    <div>
      <h1 class="text-release">{{car.release}}</h1>
      <h1 class="text-kpp">{{car.kpp}}</h1>
      <h1 class="text-dvigatel">{{car.dvigatel}}</h1>
      <h1 class="text-mesta">{{car.mesta}}</h1>
    </div>
  </div>
  <div class="card photos" style="margin-top: -36%;margin-left: 1%;width: 45%;position: absolute;">
    <p-galleria [value]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '640px' }"
                [numVisible]="5">
      <ng-template pTemplate="item" let-cars>
        <img [src]="cars.itemImageSrc" style="width: 100%;"/>
      </ng-template>
      <ng-template pTemplate="thumbnail" let-cars>
        <div class="grid grid-nogutter justify-content-center">
          <img [src]="cars.thumbnailImageSrc" style="
    width: 100%;
"/>
        </div>
      </ng-template>
    </p-galleria>
  </div>
</div>

