.img-phone {
  width: 116%;
  margin-top: -18%;
  margin-left: -8%;
  position: fixed;
}
.table {
  position: absolute;
  margin-top: -38%;
  margin-left: -2%;
  width: 97%;
}
.site-logo-reg {
  height: 56px;
  margin-top: 7px;
  position: absolute;
  margin-left: 113px;
}
.log-logo-reg {
  position: absolute;
  cursor: default;
  color: black;
  margin-left: 175px;
  margin-top: 29px;
  font-family: "Alfa Slab One", cursive;
}
.exit-button{
  position: absolute;
  margin-left: 85%;
  margin-top: 1%;
}
.lang-icon {
  background: transparent;
  border: none;
  height: 30px;
  margin-left: 28%;
  margin-top: 23px;
  position: absolute;
  cursor: pointer;
}

.lang-icon-usa {
  background: transparent;
  border: none;
  margin-left: 31%;
  margin-top: 25px;
  position: absolute;
  cursor: pointer;
}
.block {
  padding: 557px 37px 106px !important;
  background: white !important;
  width: 1129px !important;
  border-radius: 20px !important;
  position: absolute;
  margin-left: 6% !important;
  margin-right: auto !important;
  margin-top: 84px !important;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.6);
}
.order {
  margin-top: -45%;
  width: 19%;
  text-align: center;
  margin-left: 37%;
  position: absolute;
  font-size: 35px;
  text-shadow: 0 0 black;
  font-family: "Bebas Neue", cursive;
  cursor: default;
}
.name {
  cursor: default;
  position: absolute;
  margin-top: -37%;
  width: 40%;
  margin-left: 27%;
  text-align: center;
  font-size: 160%;
  font-family: "Comfortaa", cursive;
}
.sur {
  cursor: default;
  position: absolute;
  margin-top: -33%;
  margin-left: 39%;
  width: 17%;
  text-align: center;
  font-size: 160%;
  font-family: "Comfortaa", cursive;
}
.birth {
  cursor: default;
  position: absolute;
  margin-top: -29%;
  margin-left: 31%;
  font-size: 160%;
  text-align: center;
  width: 34%;
  font-family: "Comfortaa", cursive;
}
.pass {
  cursor: default;
  position: absolute;
  margin-top: -25%;
  margin-left: 23%;
  font-size: 160%;
  text-align: center;
  width: 50%;
  font-family: "Comfortaa", cursive;
}
.arrent {
  cursor: default;
  position: absolute;
  margin-top: -21%;
  margin-left: 24%;
  font-size: 160%;
  text-align: center;
  width: 50%;
  font-family: "Comfortaa", cursive;
}
.carname {
  cursor: default;
  position: absolute;
  margin-top: -12%;
  margin-left: 34%;
  font-size: 160%;
  text-align: center;
  width: 27%;
  font-family: "Comfortaa", cursive;
}
.line-footer {
  position: absolute;
  margin-left: 2%;
  margin-top: -16%;
}
.carmodel {
  cursor: default;
  position: absolute;
  margin-top: -8%;
  margin-left: 32%;
  font-size: 160%;
  text-align: center;
  width: 32%;
  font-family: "Comfortaa", cursive;
}
.line-footersec {
  position: absolute;
  margin-left: 2%;
  margin-top: -3%;
}
.status {
  cursor: default;
  position: absolute;
  margin-top: 2%;
  margin-left: 13%;
  font-size: 160%;
  text-align: center;
  width: 60%;
  font-family: "Comfortaa", cursive;
}
.img-status {
  width: 40%;
  margin-left: 4%;
}
.devit {
  cursor: default;
  position: absolute;
  margin-top: 2%;
  margin-left: 35%;
  font-size: 160%;
  text-align: center;
  width: 60%;
  font-family: "Oswald", sans-serif;
}
.strelka {
  position: absolute;
  width: 4%;
  margin-top: -45%;
  margin-left: 2%;
  cursor: pointer;
}
