.blockk {
  padding: 75px 222px 93px !important;
  background: black!important;
  border-radius: 9px !important;
  width: 103% !important;
  margin-left: -2% !important;
  margin-top: -100px !important;
}
.site-logo {
  height: 56px;
  position: absolute;
  margin-top: -67px;
  margin-left: 113px;
}
.logo-geo {
  position: absolute;
  margin-left: 45%;
  margin-top: -53px;
  height: 25px;
}
.text-geo {
  position: absolute;
  color: white;
  margin-top: 10px;
  margin-left: 33%;
  cursor: default;
  font-family: 'Roboto Mono', monospace;
}
.logo_phone {
  position: absolute;
  height: 29px;
  margin-left: 64%;
  margin-top: -55px;
}
.car-photo {
  height: 39rem;
  width: 109%;
  top: 69px;
  margin-left: -4%;
}
.car-photo::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgb(54 58 64 / 85%);
  z-index: 5;
}

.text-phone {
  position: absolute;
  color: white;
  margin-top: 41px;
  margin-left: 52%;
  cursor: default;
  font-family: 'Roboto Mono', monospace;
}
.log-logo {
  position: absolute;
  cursor: default;
  color: white;
  margin-left: -22px;
  margin-top: 46px;
  font-family: 'Alfa Slab One', cursive;
}
.adm-logo {
  font-weight: 100;
  font-size: 20px;
  color: black;
  position: absolute;
  margin-left: 56%;
  text-decoration: blink;
  margin-top: 19px;
  font-family: 'Quicksand', sans-serif;
}
.button-sign {
  position: absolute;
  margin-top: -54%;
  margin-left: 86%;
}
.text-big {
  font-size: 4.2rem;
  cursor: default;
  text-align: center;
  color: white;
  margin-top: -46%;
  text-shadow: #000 1px 0 10px;
  margin-left: -3%;
  font-family: "Bebas Neue", cursive;
}
.text-mini-big {
  font-size: 2.2rem;
  cursor: default;
  text-shadow: #000 1px 0 10px;
  text-align: center;
  position: absolute;
  color: white;
  margin-top: -1%;
  margin-left: 15%;
  font-family: "Chakra Petch", sans-serif;
}
.button-rent{
  position: absolute;
  margin-top: 17%;
  margin-left: 36%;
  width: 23%;
}
.text-second {
  margin-left: 117px;
  margin-top: 43%;
  font-size: 3.2rem;
  cursor: default;
  font-family: 'Bebas Neue', cursive;
}
.text-second-two {
  margin-top: 7%;
  margin-left: 117px;
  cursor: default;
  font-size: 3.2rem;
  font-family: 'Bebas Neue', cursive;
}
.square-b {
  width: 183px;
  height: 70px;
  margin-top: -33px;
  margin-left: 75px;
  background: #e2e5e7;
  border-radius: 18px;
}
.img-bmw {
  height: 50px;
  margin-top: 11px;
  margin-left: 5px;
}
.text-bmw {
  margin-top: -44px;
  margin-left: 95px;
  cursor: default;
  font-size: 1.5rem;
  font-family: "Quicksand", sans-serif;
}
.square-m {
  width: 325px;
  height: 70px;
  margin-top: -69px;
  margin-left: 303px;
  background: #e2e5e7;
  border-radius: 18px;
}
.img-mersedes {
  height: 50px;
  margin-top: 11px;
  margin-left: 22px;
}
.square-a {
  width: 239px;
  height: 70px;
  margin-top: -69px;
  margin-left: 677px;
  background: #e2e5e7;
  border-radius: 18px;
}
.img-audi {
  height: 50px;
  margin-top: 11px;
  margin-left: 22px;
}
.text-audi {
  margin-top: -44px;
  margin-left: 135px;
  font-size: 1.5rem;
  cursor: default;
  font-family: "Quicksand", sans-serif;
}
.square-v {
  height: 70px;
  margin-top: -69px;
  margin-left: 965px;
  background: #e2e5e7;
  border-radius: 18px;
  width: 278px;
}
.img-bmw-39 {
  margin-top: 8%;
  width: 45.3rem;
  margin-left: 43%;
  border-radius: 23px;
}
.text-service {
  margin-top: -41%;
  margin-left: 115px;
  cursor: default;
  font-size: 3.2rem;
  font-family: "Bebas Neue", cursive;
}
.text-service-second {
  font-size: 108%;
  cursor: default;
  margin-left: 30px;
  font-family: "Quicksand", sans-serif;
}
.square-service {
  width: 517px;
  margin-top: -38px;
  position: absolute;
  margin-left: 11px;
  background: #e2e5e7;
  border-radius: 18px;
}
.text-partner {
  margin-left: 115px;
  cursor: default;
  font-size: 3.2rem;
  font-family: "Bebas Neue", cursive;
  margin-top: 44%;
}
.img-partner {
  width: 15%;
  margin-top: -2%;
  margin-left: 45px;
  border-radius: 25px;
}
.img-partner-sec {
  width: 16%;
  position: absolute;
  margin-top: -20px;
  margin-left: 40px;
  border-radius: 25px;
}
.img-partner-angels {
  width: 16%;
  position: absolute;
  margin-top: -20px;
  margin-left: 287px;
  border-radius: 25px;
}
.img-partner-halva {
  width: 16%;
  position: absolute;
  margin-top: -20px;
  margin-left: 534px;
  border-radius: 25px;
}
.img-partner-oplati {
  width: 16%;
  position: absolute;
  margin-top: -20px;
  margin-left: 786px;
  border-radius: 25px;
}
.footer-block {
  padding: 80px 222px 93px !important;
  background: black !important;
  border-radius: 9px !important;
  width: 103% !important;
  margin-left: -2% !important;
  margin-top: 109px!important;
  position: absolute;
}
.img-instagram {
  width: 3%;
  cursor: pointer;
  position: absolute;
  margin-top: -2%;
  margin-left: 20%;
}
.img-facebook {
  width: 3%;
  cursor: pointer;
  position: absolute;
  margin-top: -2%;
  margin-left: 27%;
}
.img-telegram {
  width: 3%;
  cursor: pointer;
  position: absolute;
  margin-top: -2%;
  margin-left: 34%;
}
.img-vk {
  width: 3%;
  cursor: pointer;
  position: absolute;
  margin-top: -2%;
  margin-left: 41%;
}
.text-footer {
  color: white;
  position: absolute;
  cursor: default;
  margin-left: 24%;
  margin-top: 4%;
  font-family: "Chakra Petch", sans-serif;
}
.img-scroll {
  width: 257px;
  margin-left: 50px;
  border-radius: 23px;
}
.text-scroll {
  font-family: "Bebas Neue", cursive;
  cursor: default;
  margin-left: 50px;
  font-size: 27px;
}
.text-scroll-sec {
  font-family: "Chakra Petch", sans-serif;
  cursor: default;
  font-size: 18px;
  margin-left: 50px;
  margin-top: -4px;
}
.text-scroll-price {
  font-family: "Chakra Petch", sans-serif;
  cursor: default;
  font-size: 22px;
  margin-left: 50px;
  margin-top: -4px;
}
.button-scroll {
  margin-left: 50px;
}
.my-component ::ng-deep .p-inputtext {
  width: 291px !important;
  height: 48px !important;
  padding: 6px 20px !important;
  margin: 11px 363px !important;
  box-sizing: border-box !important;
  border: 3px solid #ccc !important;
  -webkit-transition: 0.5s !important;
  transition: 0.5s !important;
  outline: none !important;
  margin-left: -296px !important;
  cursor: pointer;
}


body:not([class]) {
  padding: 0;
}

* {
  box-sizing: border-box;
}

.pagecover {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 5vw;
  overflow: hidden;
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6)),
    url(http://placeimg.com/640/480/tech);
  background-size: 100%, cover;
  background-position: center, center;
  color: #FFF;
  text-align: center;
  font-size: 2em;
  display: flex;
  flex-direction: column;
}

.pagecover--content {
  margin: auto;
}

.allpage--body {
  position: absolute;
  padding: 5vw;
}

.pagecontent {
  max-width: 50em;
  margin: auto;
}

.btn {
  display: inline-block;
  padding: .2em .5em;
  text-decoration: none;
  color: inherit;
  border: 2px solid;
  border-radius: .2em;

  &:hover {
    color: #0EBEFF;
  }
}
.line-footer {
  position: absolute;
  margin-left: -68px;
  margin-top: 23px;
}
.lang-icon {
  background: transparent;
  border: none;
  height: 30px;
  margin-left: 13%;
  margin-top: 41px;
  position: absolute;
  cursor: pointer;
}
.lang-icon-usa {
  background: transparent;
  border: none;
  height: 30px;
  margin-left: 16%;
  margin-top: 41px;
  position: absolute;
  cursor: pointer;
}
.succeslabel {
  position: absolute;
  margin-top: 0%;
  width: 41%;
  margin-left: 58%;
}
.suful-text ::ng-deep .p-message .p-message-detail {
  margin-left: 1.5rem;
  cursor: default;
}
.suful-textsec ::ng-deep .p-message .p-message-summary {
  font-weight: 700;
  cursor: default;
}
.p-header ::ng-deep .p-dialog .p-dialog-header .p-dialog-title {
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
  margin-left: 43%;
  cursor: default;
}
.title-dialog {
  margin-left: 1%;
  text-align: center;
  margin-top: 0%;
  cursor: default;
}
.title-dialog-sec {
  margin-left: 0%;
  text-align: center;
  cursor: default;
}
.input-login{
  position: absolute;
  margin-left: 21%;
  margin-top: 4%;
  width: 50%;
}
.input-password {
  width: 50%;
  margin-top: 17%;
  margin-left: 21%;
  position: absolute;
}
.white-block ::ng-deep .p-dialog .p-dialog-content {
  background: #ffffff;
  color: #495057;
  padding: 0 1.5rem 17rem 1.5rem;
}
.button-sub {
  position: absolute;
  margin-top: 30%;
  margin-left: -33%;
}
.red-error-log {
  position: absolute;
  color: red;
  margin-left: 74%;
  margin-top: 6%;
  cursor: default;
}
.red-error-pas {
  position: absolute;
  color: red;
  margin-left: 74%;
  margin-top: 19%;
  cursor: default;
}

